.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
androidWheelView.iml
.idea/.name
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
app/app.iml
.idea/vcs.xml
